@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<DLL.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ten SP
            </th>
            <th>
                Mo Ta
            </th>
            <th>
                Gia SanPham
            </th>
            <th>
                So Luong Ton
            </th>
            <th>
                Hinh Anh
            </th>
            <th>
                Trang Thai
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                 <img src="@item.ImageUrl" alt="Image" style="width:100px;height:auto;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<style>
    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .pagination {
        display: flex;
        list-style-type: none;
        padding: 0;
    }

        .pagination li {
            margin: 0 5px;
        }

        .pagination a,
        .pagination span {
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: #007bff;
            border: 1px solid #ddd;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

            .pagination a:hover {
                background-color: #007bff;
                color: #fff;
            }

        .pagination .active span {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
            cursor: default;
        }

        .pagination .disabled span {
            color: #ddd;
            border-color: #ddd;
            cursor: not-allowed;
        }

</style>


